[Unit]
Description=Ngrok
After=network.service

[Service]
type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/var/lib/snapd/snap/bin/ngrok start --all --config="/home/ubuntu/.ngrok2/ngrok.yml"
Restart=on-failure

[Install]
WantedBy=multi-user.target